<!DOCTYPE html>
<html>
<head>
    <title>Web留言板</title>
</head>
<body>
    <h1>Web留言板</h1>
    <h2>输入新留言</h2>
    <form action="{{ url_for('add_post') }}" method="post">
        <textarea name="message" rows="5" cols="30"></textarea><br>
        <input type="submit" value="提交">
    </form>
    <br>
    <hr>
    <h2>历史留言</h2>
    <ul>
        {% for message in messages[::-1] %}
        <li>{{ message[0] }} - {{ message[1] }}</li>
        {% endfor %}
    </ul>
</body>
</html>